<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <base href="/">
    <title>Nutrition Habit Challenge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app/..) styles/vendor.css -->
    <link rel="stylesheet" href="app/styles/vendor/spinners.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body class="gray pattern-1" ng-app="nhcWebApp">
    <header ng-controller="LoginCtrl as ctrl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-10 col-md-2">
                    <div ng-if="ctrl.user.isAuthenticated()">
                        <p class="text-right" ng-cloak>Hi {{ctrl.user.currentUser().firstName}}!</p>
                        <!-- <img src="{{ctrl.user.currentUser().picture}}" class="img-responsive center-block" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav ng-controller="NavCtrl as ctrl" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">Nutrition Habit Challenge 2016</div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="clearfix nav navbar-nav">
                    <li><a href="/">Welcome</a></li>
                    <li ng-if="ctrl.user.currentUser().status === 'registered'"><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/how-it-works">How It Works</a></li>
                    <li ng-if="ctrl.user.currentUser().status !== 'registered'"><a href="/registration">Registration</a></li>
                    <li><a href="/prizes-and-sponsors">Prizes and Sponsors</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/about-us">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid content">
        <div ng-view></div>
    </div>
    <div class="container">
        <!-- Social Media Icons -->
        <div class="row">
            <div class="col-md-12 page-footer">
                <div class="social-icons text-center">
                    <ul class="list-inline center-block">
                        <li>
                            <a href="https://www.facebook.com/1on1NHC2015"><img src="img/sm_fb_logo.png" alt="Facebook"></a>
                        </li>
                        <li><a href="https://twitter.com/NHC2015"><img src="img/sm_twitter_logo.png" alt="Twitter"></a></li>
                        <li><a href="https://instagram.com/nutrition_habit_challenge/"><img src="img/sm_instagram_logo.png" alt="Instagram"></a></li>
                        <li><a href="https://www.pinterest.com/nutritionhabitc/"><img src="img/sm_pin_logo.png" alt="Pinterest"></a></li>
                    </ul>
                </div>
                <p class="text-center"><strong>Email us at: <a href="mailto:NHC@oneononefit.com" target="_blank">NHC@oneononefit.com</a></strong></p>
                <p class="text-center"><small>Copyright&copy; 2015 Nutrition Habit Challenge. All rights reserved.</small></p>
            </div>
        </div>
    </div>
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/how-it-works.js"></script>
    <script src="scripts/controllers/resources.js"></script>
    <script src="scripts/controllers/registration.js"></script>
    <script src="scripts/controllers/prizes-and-sponsors.js"></script>
    <script src="scripts/controllers/about-us.js"></script>
    <script src="scripts/services/organizations.js"></script>
    <script src="scripts/directives/nhcregistrationform.js"></script>
    <script src="scripts/directives/nhcregistrationsignup.js"></script>
    <script src="scripts/controllers/registrationform.js"></script>
    <script src="scripts/controllers/registrationsignup.js"></script>
    <script src="scripts/services/userservice.js"></script>
    <script src="scripts/controllers/registrationsignupemailmodal.js"></script>
    <script src="scripts/directives/nhcalert.js"></script>
    <script src="scripts/services/alertservice.js"></script>
    <script src="scripts/controllers/alert.js"></script>
    <script src="scripts/services/authservice.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/commitments.js"></script>
    <script src="scripts/directives/nhcloading.js"></script>
    <script src="scripts/services/registration.js"></script>
    <script src="scripts/services/api.js"></script>
    <script src="scripts/controllers/nav.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/verify.js"></script>
    <script src="scripts/controllers/urlsmodal.js"></script>
    <!-- endbuild -->
</body>

</html>
