<div class="row">
    <div class="col-md-3 sidebar">
        <img class="img-responsive center-block" src="img/nhc_logo.png" alt="Nutrition Habit Challenge 2016" />
        <blockquote class="blockquote-reverse">
            <p><em>"Make a difference where you <u>can</u> make a difference. Start with yourself, then your family, then
      your community."</em></p>
            <footer>Bruce and Kym Burke</footer>
        </blockquote>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-10">
                <nhc-alert></nhc-alert>
            </div>
        </div>
        <h1>About Us</h1>
        <p>The Nutrition Habit Challenge was created in 2010 by the co-founders of One on One, Bruce and Kym Burke. Its goal
            has been to inspire clients of One on One to make one or two small nutritional commitments using the "Less is
            More" approach. In 2014, it was opened up to the entire community. The event raised $10,000 for its charities
            with 720 people participating, including 100 families. In 2015, 2214 people participated, including 230 families!</p>

        <p>The "Less is More" approach is founded on the premise that making small behavioral changes can stop a downward spiral
            of destructive behavior and begin an upward spiral of constructive behaviors. This upward spiral often inspires
            us to make other small modifications, resulting in meaningful dietary/lifestyle change that can significantly
            impact our health.</p>
        <p>Enjoy the benefits of making a positive change in your diet/lifestyle, support either the <a href="http://ccysb.com/">Youth Service Bureau</a>            or <a href="http://www.cvim.net/">Centre Volunteers in Medicine</a> with a small optional donation and become
            eligible for some great prizes, including a trip for four to Disney World!</p>
        <p>Special thanks to event sponsors <a href="https://www.kishbank.com/home">Kish Bank</a>, <a href="http://ottospubandbrewery.com/">Otto’s of State College</a>            and <a href="http://www.statecollegefitnessconsultantsinc.com/">One on One</a>.</p>
        <p>Everyone wins with the Nutrition Habit Challenge!</p>
        <h2>The Committee</h2>
        <ul>
            <li>Andrea Boyles, Youth Service Bureau, CEO</li>
            <li>Bruce and Kym Burke, Nutrition Habit Challenge co-founders</li>
            <li>Julie Christie, SCASD, Physical Educator</li>
            <li>Roger Garthwaite, Otto’s, co-owner</li>
            <li>Greg Hayes, Kish Bank, Executive Vice-President</li>
            <li>Melanie Lynch, M.Ed., Health Education Specialist, President-elect PA State Association for Health, PE, Recreation
                and Dance (PSAHPERD)</li>
            <li>Alfredo Ramirez, VSR Inc., partner and research team lead</li>
            <li>Dennis Shea, Associate Dean of College of Health and Human Development</li>
            <li>Cheryl White, Centre Volunteers in Medicine, Executive Director </li>
        </ul>
    </div>
</div>