<div class="modal-header">
    <h4>Add Organization</h4>
</div>
<div class="modal-body">
    <p>Enter a name for the new organizations.</p>
    <form name="ctrl.form" novalidate>
        <div class="form-group">
            <label for="newOrgName" class="sr-only">Name</label>
            <input type="text" class="form-control" id="newOrgName" ng-model="ctrl.orgName" required>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-danger btn-block" ng-click="ctrl.addOrg()" ng-disabled="ctrl.form.$invalid" value="Submit">
            <input type="button" class="btn btn-default btn-block" ng-click="ctrl.cancel()" value="Cancel">
        </div>
    </form>
</div>
