<h1>Communications</h1>
<p>Use this interface to send a message to users. You can filter who receives your message by user status or role (if you are a global administrator).</p>
<form name="ctrl.form" class="form col-md-10" novalidate>
    <h2>Filters</h2>
    <h3>User Status</h3>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="ctrl.sendUnconfirmed"> Unconfirmed
        </label>
        <label>
            <input type="checkbox" ng-model="ctrl.sendUnregistered"> Unregistered
        </label>
        <label>
            <input type="checkbox" ng-model="ctrl.sendRegistered"> Registered
        </label>
    </div>
    <div ng-if="ctrl.user.isGlobalAdmin()">
        <h3>User Role</h3>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="ctrl.sendUser"> User
            </label>
            <label>
                <input type="checkbox" ng-model="ctrl.sendOrgAdmin"> Organization Administrator
            </label>
            <label>
                <input type="checkbox" ng-model="ctrl.sendGlobalAdmin"> Global Administrator
            </label>
        </div>
    </div>
    <h2>Message</h2>
    <div class="form-group" ng-class="{ 'has-error': ctrl.form.subject.$touched && ctrl.form.subject.$invalid }">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" class="form-control" ng-model="ctrl.messageSubject" placeholder="Subject" required >
        <span class="help-block" ng-messages="ctrl.form.subject.$error" ng-if="ctrl.form.subject.$touched">
            <div ng-messages-include="views/errormessages.html"></div>
        </span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': ctrl.form.body.$touched && ctrl.form.body.$invalid }">
        <label for="body">Body</label>
        <text-angular name="body" ng-model="ctrl.messageBody" id="body" placeholder="Enter Your Message Here" required></text-angular>
        <div class="help-block" ng-messages="ctrl.form.body.$error" ng-if="ctrl.form.body.$touched">
            <div ng-messages-include="views/errormessages.html"></div>
        </div>
    </div>
    <button type="submit" class="btn btn-danger" ng-disabled="ctrl.form.$invalid" ng-click="ctrl.sendMessage(ctrl.form)">Send</button>
    <button class="btn btn-default" ng-click="ctrl.clearMessage(ctrl.form)">Reset</button>
</form>
