<div class="row">
    <div class="col-md-3 sidebar">
        <img class="img-responsive center-block" src="img/nhc_logo.jpg" alt="Nutrition Habit Challenge 2016" />
        <blockquote class="blockquote-reverse">
            <p><em>“We all have choices. Each of us needs to take personal responsibility for our health. The Nutrition Habit Challenge is a great opportunity to exercise personal responsibility and model it for the next generation. We hope you will join us."</em></p>
            <p><small>Bruce and Kym Burke</small></p>
        </blockquote>
    </div>
    <div class="col-md-9">
    <h1>Coming Soon</h1>
    <p>The challenge hasn't started yet, check back on <strong>February 1st, 2016</strong> to start tracking your progress!</p>
    </div>
</div>
