<div class="row">
    <div class="col-md-3 sidebar" ng-if="!ctrl.globals.leaderboardsEnabled">
        <img class="img-responsive center-block" src="img/nhc_logo.png" alt="Nutrition Habit Challenge 2016" />
        <blockquote class="blockquote-reverse">
            <p><em>"We all have choices. Each of us needs to take personal responsibility for our health. The Nutrition Habit Challenge is a great opportunity to exercise personal responsibility and model it for the next generation. We hope you will join us."</em></p>
            <p><small>Bruce and Kym Burke</small></p>
        </blockquote>
    </div>
    <nhc-leaderboards ng-if="ctrl.globals.leaderboardsEnabled"></nhc-leaderboards>
    <div class="col-md-8">
        <nhc-alert></nhc-alert>
        <h1>Scorecard<span ng-if="ctrl.participants.length > 1">s</span></h1>
        <p>Below you can view and update your scorecard<span ng-if="ctrl.participants.length > 1">s</span> in order to track
            <span ng-if="ctrl.participants.length > 1">you and</span> your <span ng-if="ctrl.participants.length > 1">family's</span>            progress during the challenge!</p>
        <div class="alert alert-warning" role="alert" ng-if="!ctrl.globals.scorecardEnabled">
            <span class="fa fa-exclamation-triangle"></span> You can view your scorecard but updating is disabled until the
            challenge starts on <strong>{{ctrl.globals.challengeStart | date:'longDate'}}</strong>.
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <p ng-repeat="participant in ctrl.participants">
                    <a class="btn btn-danger center-block" ng-click="ctrl.openScorecard(participant)">{{participant.firstName}}'s Scorecard</a>
                </p>
            </div>
        </div>
        <p><small>Want to track your progress on paper as well? <a href="downloads/scorecard.pdf" target="_blank">Download</a> and print the Scorecard PDF!</small></p>
        <nhc-bonus-question></nhc-bonus-question>
        <h1>News &amp; Updates</h1>
        <div ng-repeat="item in ctrl.sortByDate(ctrl.news)">
            <h2>{{item.subject}}<br /><small>{{item.publishDate | date:'medium'}}</small></h2>
            <span ng-bind-html="item.body"></span>
        </div>
    </div>
</div>