<div class="row">
    <div class="col-md-3 sidebar">
        <img class="img-responsive center-block" src="img/nhc_logo.png" alt="Nutrition Habit Challenge 2017" />
    </div>
    <div class="col-md-6">
        <h1>Forgotten Password</h1>
        <nhc-alert></nhc-alert>
        <p>Enter your e-mail address below and if it corresponds to an existing user account, a reset password link will be
            e-mailed to you.</p>
        <form name="ctrl.form">
            <div class="form-group">
                <input type="email" class="form-control" ng-model="ctrl.email" placeholder="E-Mail Address" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="Reset Password" ng-disabled="ctrl.form.$invalid" ng-click="ctrl.forgotPassword(ctrl.email)">
            </div>
        </form>
    </div>
</div>