<div class="row">
    <div class="sidebar col-md-3 sidebar">
        <img class="img-responsive center-block" src="img/nhc_logo.png" alt="Nutrition Habit Challenge 2017" />
        <blockquote class="blockquote-reverse">
            <p><em>"Striving to be the very best neighbors and partners we can be."</em></p>
            <p><small>Bill Hayes, CEO, Kish Bank</small></p>
        </blockquote>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-10">
                <nhc-alert></nhc-alert>
            </div>
        </div>
        <h1>How It Works</h1>
        <p>Most of us understand the value of good nutrition. Unfortunately, many of us struggle with putting that knowledge
            into practice on a daily basis. If this sounds too familiar, join us for the <strong>Nutrition Habit Challenge 2017.</strong></p>
        <p>The Challenge is four weeks long, beginning <strong>Wednesday, 2/1/17</strong> and ending <strong>Tuesday, 2/28/17</strong>.</p>
        <h2>Here’s how it works:</h2>
        <ol>
            <li>
                <p>
                    <strong>Choose a nutritional behavior you would like to change</strong>
                    <br> The behavior must be significant enough to positively impact your health, but manageable enough
                    that you can be successful for 25 of the 29 days.
                    <br> Some ideas include:
                </p>
                <ul>
                    <li><em>No snacking on anything but fruit after dinner</em></li>
                    <li><em>Drink water instead of soda or juice</em></li>
                    <li><em>Prepare healthy snacks for work each day</em></li>
                </ul>
                <p>
                    Click <a href="http://www.statecollegefitnessconsultantsinc.com/articles/nutrition_habits_for_adults"
                        target="_blank">here</a> for more ideas for adults, <a href="http://www.statecollegefitnessconsultantsinc.com/articles/nutrition_habits_for_kids"
                        target="_blank">here</a> for ideas for kids.
                </p>
            </li>
            <li>
                <p>
                    <strong>Register for the Challenge</strong></p>
            </li>
            <li>
                <p>
                    <strong>Practice your nutritional commitment each day and track your success online</strong></p>
            </li>
            <p><a href="/registration">Click here to get started</a></p>
        </ol>
    </div>
</div>