<div class="col-md-3">
        <h1>Leaderboards</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Organization</h3>
            </div>
            <table class="table">
                <tr>
                    <td>1</td>
                    <td>Person A</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Person B</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Person C</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Family</h3>
            </div>
            <table class="table">
                <tr>
                    <td>1</td>
                    <td>Person A</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Person B</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Person C</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Friends</h3>
            </div>
            <table class="table">
                <tr>
                    <td>1</td>
                    <td>Person A</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Person B</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Person C</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
    </div>