<div class="row">
    <div class="col-md-3 sidebar">
        <img class="img-responsive center-block" src="img/nhc_logo.jpg" alt="Nutrition Habit Challenge 2016" />
        <blockquote class="blockquote-reverse">
            <p><em>"Make a difference where you <u>can</u> make a difference. Start with yourself, then your family, then
      your community."</em></p>
            <footer>Bruce and Kym Burke</footer>
        </blockquote>
    </div>
    <div class="col-md-9">
        <div class="row">
                <h1>Welcome to the Nutrition Habit Challenge 2016!</h1>
            <div class="col-md-7">
                <h2>Our Mission</h2>
                <p>To educate, motivate and inspire our community to take personal responsibility for improving their health habits.</p>
                <hr>
                <h2>Our Philosophy</h2>
                <p>Make a difference where you can make a difference. Start with yourself, then your family, then your community.</p>
                <hr>
                <h2>Top Four Reasons to Participate:</h2>
                <ol>
                    <li>Great way to positively impact your health.</li>
                    <li>Great family activity! Demonstrate leadership and personal responsibility while providing education and having fun!</li>
                    <li>Great opportunity to give back to your community by participating and promoting among your friends and co-workers.</li>
                    <li>You might win a trip to Disney World!</li>
                </ol>
            </div>
        </div>
    </div>
</div>
