<div class="col-md-3 sidebar">
    <img class="img-responsive center-block" src="img/nhc_logo.png" alt="Nutrition Habit Challenge 2017" />
    <blockquote class="blockquote-reverse">
        <p><em>"I participated in the Nutrition Habit Challenge to improve my health and won a trip to Disney World! Accomplishing my nutrition commitment feels amazing! I am still practicing it to this day and am grateful for all the Nutrition Habit Challenge has provided me."</em></p>
        <footer>Sahar Memari, NHC 2015 grand prize winner</footer>
    </blockquote>
</div>
<div class="col-md-9">
    <div class="row">
        <div class="row">
            <div class="col-md-10">
                <nhc-alert></nhc-alert>
                <div ng-cloak ng-if="ctrl.globals.welcomeMessage" role="alert" class="alert alert-info welcome-message" ng-bind-html="ctrl.globals.welcomeMessage"></div>
            </div>
        </div>
        <h1>Welcome to the Nutrition Habit Challenge 2017!</h1>
        <div class="col-md-8">
            <p>We are excited to welcome participants from the PSAHPERD organization across Pennsylvania. To properly track participation as part of the PSAHPERD group please be sure to register as part of an organization and select one of the @ PSAHPERD organizations in the drop down. Congratulations on your commitment to yourself, your family, and your community!</p>
            <hr>
            <h2>What is the NHC?</h2>
            <p>The Nutrition Habit Challenge (NHC) is a community-wide wellness initiative designed to educate, motivate and
                inspire community members to take personal responsibility for improving their health habits. Using the "less
                is more" philosophy, the NHC encourages participants to make a manageable nutrition commitment for the month
                of February.</p>
            <p>Participants create a secure login for the NHC site and then register for the challenge by selecting their healthy
                habit and tracking their progress during the month of February. This is all done through the interactive
                NHC website registration process and dashboard tracking interface.</p>
            <p>Our hope is that you decide to not only participate, but become an advocate for the Challenge by encouraging
                your family and friends to do the same. Our philosophy is to make a difference where you can make a difference;
                start with yourself, then your family, then your community.</p>
            <hr>
            <h2>How does it work?</h2>
            <p>Here are the steps to participate:</p>
            <ol>
                <li><strong>Select a nutritional behavior</strong> that you would like to change. <a href="https://www.nutritionhabitchallenge.com/downloads/nhc2017-commitments.pdf" target="_blank">Click here to see a list of available commitments.</a><br><br></li> 
                
                <li>Go to the Registration page to <strong>create a Login ID and password</strong> to the secure NHC website.<br><br>NOTE: If you use an email address for your login, you will need to verify your email before continuing to register for the Challenge. If you participated last year, go to Sign In in the upper right hand corner or <a href="https://www.nutritionhabitchallenge.com/forgotten-password/">click here to reset your password</a><br><br></li>
                
                <li><strong>Register for the Challenge</strong> by signing in and completing the registration information on the registration page.<br><br></li>
                
                <li><strong>Practice your nutritional commitment</strong> each day beginning Wednesday, 2/1/17 and ending Tuesday, 2/28/17, and track your success online through the NHC website.</li>
            </ol>

        </div>
    </div>
</div>
