<h1>You're Registered!</h1>
<p>Congratulations on taking a step towards improving your health. Your participation benefits both you and our community.</p>
<p>You will receive a confirmation e-mail shortly as well as a reminder e-mail as we get closer to the start of the challenge
  on <strong>February 1st, 2017</strong> with instructions on how to begin tracking your progress.</p>

<div ng-if="ctrl.registration.donation === 'ysb'">
  <p>To go to the Youth Service Bureau, follow <strong><a href="http://ccysb.com/?page_id=1197" target="_blank">this link</a></strong>.</p>
</div>

<div ng-if="ctrl.registration.donation === 'cvim'">
  <p>To donate to the Centre Volunteers in Medicine, follow <strong><a href="https://cvim.ejoinme.org/MyPages/CVIMNHC/tabid/524126/Default.aspx" target="_blank">this link</a></strong>.</p>
</div>
