<div class="row">
    <div class="col-md-4">
        <img class="img-responsive center-block" src="img/disney_2016.png" alt="2016 NHC Grand Prize winner, Mandy Chaplain">
        <p class="text-center"><small>"It's been six months since the NHC has ended and I'm still following through on my original commitment! Thanks NHC!" -Mandy Chaplain, NHC 2016 grand prize winner.</small></p>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-10">
                <nhc-alert></nhc-alert>
            </div>
        </div>
        <h1>Prizes and Sponsors</h1>
        <div class="alert alert-info" role="alert">
            Join us for the <strong>prize drawing</strong> at Kish Bank (2610 Green Tech Dr, State College, PA 16803) on Saturday 3/19/17 from 3:00 to 4:00 PM<strong>*</strong></div>
        <h2>
            Grand Prize
        </h2>
        <h4>A trip for four to Disney World! (yes, really!)</h4>
        <p><em>Win a Trip to Disney World! **<br>
  4-night trip for two adults and two children to the Walt Disney World&reg; Resort<br>
  Includes round-trip airfare from Baltimore<br>
  (** Bermuda Cruise for two can be substituted, based on availability.)<br></em>
            <h2>Additional Prizes</h2>
            <div class="row">
                <div class="col-md-4">
                    <a href="http://www.ottospubandbrewery.com/" target="_blank">Otto's</a>
                    <p>Dinner for six
                        <br /> Six $25.00 gift cards</p>
                </div>
                <div class="col-md-4">
                    <a href="http://www.tusseymountain.com/" target="_blank">Tussey Mountain</a>
                    <p>Four family gift packages</p>
                </div>
                <div class="col-md-4">
                    <a href="http://www.wiscoypet.com/" target="_blank">Wiscoy</a>
                    <p>$25.00 gift card</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="http://www.gigisdining.com/" target="_blank">Gigi's Restaurant</a>
                    <p>$25.00 gift certificate</p>
                </div>
                <div class="col-md-4">
                    <a href="http://statecollegecoffeeshop.com/" target="_blank">Saint's Cafe</a>
                    <p>Two $25.00 gift certificates</p>
                </div>
                <div class="col-md-4">
                    <a href="http://www.hosss.com/gift-cards" target="_blank">Hoss's</a>
                    <p>Four $50.00 gift cards
                        <br />Sixteen $25.00 gift cards</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="http://www.mikesvideo.com/" target="_blank">Mike's TV and Appliance</a>
                    <p>$100.00 gift card</p>
                </div>
                <div class="col-md-4">
                    <a href="http://www.statecollegefitnessconsultantsinc.com/" target="_blank">One on One Fitness</a>
                    <p>$100.00 gift certificate</p>
                </div>
                <div class="col-md-4">
                    <a href="http://ccysb.com/" target="_blank">Centre County Youth Service Bureau</a>
                    <p>A day on the Ropes Challenge Course</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="http://www.harrisonsmenu.com/" target="_blank">Harrison's</a>
                    <p>Two $25.00 gift certificates</p>
                </div>
                <div class="col-md-4">
                    <a href="http://barrel21distillery.com/" target="_blank">Barrel 21 Distillery &amp; Dining</a>
                    <p>$30.00 gift card</p>
                </div>
                <div class="col-md-4">
                    Rapid Transit Sports
                    <p>$50.00 gift card</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="http://abservices.psu.edu/" target="_blank">Penn State Auxiliary &amp; Business Services</a>
                    <p>One night in a Penn State Hotel
                        <br /> Fourteen Tickets (private box) for the Globetrotters 3/23/16 at 7PM
                        <br /> Amazon Kindle</p>
                </div>
            </div>
            <h2>Major Sponsors</h2>
            <p>The Nutrition Habit Challenge is sponsored by One on One, Kish Bank, and Otto’s of State College.</p>
            <p>Click <a href="/about-us">here</a> to learn more about the organizations behind the Nutrition Habit Challenge.</p>
            <h2>In-Kind Donation</h2>
            <p>A special thank you to ProCopy ($2000) and The Bicycle Shop ($500) for donating to the Nutrition Habit Challenge.</p>
            <p><strong>*Prior to the prize drawing event on 3/19/2017, 30 finalists will be notified that they have been randomly selected from the pool of successful NHC participants. All 30 will win a prize, with one being the Grand Prize winner!</strong></p>
    </div>
</div>
