<h1>Registration</h1>
<p>In order to participate in the Nutrition Habit Challenge 2016, just fill out the form below!</p>
<hr>
<form name="ctrl.form" class="form-horizontal" novalidate>
    <!-- Family/Individual Selection -->
    <div class="form-group">
        <label class="col-sm-{{ctrl.css.labelWidth}} control-label" for="userFamily">I am registering as</label>
        <div class="col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.family" name="userFamily" id="userFamily1" ng-value="ctrl.false" ng-change="ctrl.trimParticipants(ctrl.newRegistration.family)" checked required> an individual
                </label>
            </div>
        </div>
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.family" name="userFamily" id="userFamily2" ng-value="ctrl.true" required> a family
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="ctrl.newRegistration.family">
        <label for="userOrganization" class="col-sm-{{ctrl.css.labelWidth}} control-label">Family Code <span class="fa fa-question-circle form-help"></span></label>
        <div class="col-sm-{{ctrl.css.inputWidth}}">
            <input type="text" ng-model="ctrl.newRegistration.familyCode">
        </div>
    </div>
    <!-- Organization -->
    <div class="form-group">
        <label for="userOrganization" class="col-sm-{{ctrl.css.labelWidth}} control-label">Organization</label>
        <div class=" col-sm-{{ctrl.css.inputWidth}}">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="ctrl.isUserOrg" ng-change="ctrl.clearOrganization(ctr.isUserOrg)"> I am joining as part of a group or organization
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="ctrl.isUserOrg">
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <input type="text" ng-model="ctrl.newRegistration.organization" class="form-control" id="userOrganization" placeholder="Acme Co." ng-required="ctrl.isUserOrg" uib-typeahead="organization.name as organization.name for organization in ctrl.organizations | filter:$viewValue | limitTo:8">
        </div>
    </div>
    <!-- Privacy Settings -->
    <div class="form-group">
        <label class="col-sm-{{ctrl.css.labelWidth}} control-label" for="userShare">Sharing Options <span class="fa fa-question-circle form-help"></span></label>
        <div class="col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.sharing" name="userShare" id="userShare1" value="everyone" required> Everyone
                </label>
            </div>
        </div>
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}" ng-if="ctrl.isUserOrg">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.sharing" name="userShare" id="userShare2" value="organization" required> My organization
                </label>
            </div>
        </div>
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.sharing" name="userShare" id="userShare1" value="none" required> No one
                </label>
            </div>
        </div>
    </div>
    <hr>
    <!-- Participant Data -->
    <div ng-repeat="participant in ctrl.newRegistration.participants">
        <div class="form-group" ng-if="ctrl.newRegistration.family">
            <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
                <h4>Participant {{$index + 1}} <span ng-if="$first">(You)</span></h4>
            </div>
            <div class="col-sm-{{ctrl.css.addonWidth}}">
                <p class="form-control-static"><span class="fa fa-plus-circle form-add form-addon" ng-if="$last" ng-click="ctrl.addParticipant()"></span> <span class="fa fa-minus-circle form-sub form-addon" ng-click="ctrl.deleteParticipant($index)" ng-if="!$first"></span></p>
            </div>
        </div>
        <!-- Contact Details -->
        <div class="form-group">
            <label for="userFirstName" class="col-sm-{{ctrl.css.labelWidth}} control-label">First Name</label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <input type="text" class="form-control" id="userFirstName" placeholder="Jane" ng-model="participant.firstName" ng-if="!$first" ng-required="!$first">
                <p class="form-control-static" ng-if="$first">{{participant.firstName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userLastName" class="col-sm-{{ctrl.css.labelWidth}} control-label">Last Name</label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <input type="text" class="form-control" id="userLastName" placeholder="Doe" ng-model="participant.lastName" ng-if="!$first" ng-required="!$first">
                <p class="form-control-static" ng-if="$first">{{participant.lastName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userAgeRange" class="col-sm-{{ctrl.css.labelWidth}} control-label">Age Range (optional)</label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <select ng-model="participant.ageRange" ng-options="value as key for (key, value) in ctrl.ageRanges" class="form-control">
                    <option value="">-- Choose Age Range --</option>
                </select>
            </div>
        </div>
        <!-- Commitment -->
        <div class="form-group">
            <label for="userCommitCategory" class="col-sm-{{ctrl.css.labelWidth}} control-label">Commitment Category</label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <select ng-model="participant.selectedCategory" id="userCommitCategory" class="form-control" ng-options="category as category.name for category in ctrl.commCategories" ng-change="ctrl.setCategory($index, participant.selectedCategory)" required>
                    <option value="">-- Choose Commitment Category --</option>
                </select>
            </div>
            <div class="col-sm-{{ctrl.css.addonWidth}}">
                <p class="form-control-static"><span class="fa fa-info-circle form-info form-addon" ng-if="participant.selectedCategory.urls"></span></p>
            </div>
        </div>
        <div class="form-group" ng-if="participant.category !== 'Other'">
            <label for="userCommit" class="col-sm-{{ctrl.css.labelWidth}} control-label">Commitment</label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <select id="userCommit" ng-model="participant.commitment" class="form-control" ng-disabled="!participant.selectedCategory" ng-required="participant.category !== 'Other'" ng-options="commitment for commitment in participant.selectedCategory.commitments">
                    <option value="">-- Choose Commitment --</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-if="participant.category === 'Other' || participant.commitment === 'Other'">
            <label for="userCustomCommit" class="col-sm-{{ctrl.css.labelWidth}} control-label">Custom Commitment <span class="fa fa-question-circle form-help"></span></label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <input type="text" name="userCustomCommit" id="userCustomCommit" class="form-control" ng-model="ctrl.customCommitment" ng-required="participant.category === 'Other' || participant.commitment === 'Other'">
            </div>
        </div>
    </div>
    <hr>
    <!-- Comment -->
    <div class="form-group">
        <label class="col-sm-{{ctrl.css.labelWidth}} control-label" for="userComment">Optional Comments</label>
        <div class="col-sm-{{ctrl.css.inputWidth}}">
            <textarea class="form-control" ng-model="ctrl.newRegistration.comment" name="userComment" id="userComment" rows="5" placeholder="Tell us more about your challenge and commitments."></textarea>
        </div>
    </div>
    <!-- Donation -->
    <div class="form-group">
        <label class="col-sm-{{ctrl.css.labelWidth}} control-label" for="userDonation">Optional Donation <span class="fa fa-question-circle form-help"></span></label>
        <div class="col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.donation" name="userDonation" id="userDonation1" value="ysb" required> I would like to donate to the Youth Service Bureau
                </label>
            </div>
        </div>
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.donation" name="userDonation" id="userDonation2" value="cvim" required> I would like to donate to the Centre Volunteers in Medicine
                </label>
            </div>
        </div>
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.donation" name="userDonation" id="userDonation3" value="none" required> I do not wish to donate at this time
                </label>
            </div>
        </div>
    </div>
    <!-- Form Actions -->
    <div class="form-group ">
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <input type="submit" class="btn btn-danger" ng-click="ctrl.sendRegistration(ctrl.newRegistration)" ng-disabled="ctrl.form.$invalid" value="Submit">
            <input type="button" class="btn btn-default" ng-click="ctrl.reset(ctrl.form)" value="Reset">
        </div>
    </div>
</form>
