<div class="row">
    <div class="col-md-3 sidebar">
        <img class="img-responsive center-block" src="img/nhc_logo.jpg" alt="Nutrition Habit Challenge 2016" />
        <blockquote class="blockquote-reverse">
            <p><em>“We all have choices. Each of us needs to take personal responsibility for our health. The Nutrition Habit Challenge is a great opportunity to exercise personal responsibility and model it for the next generation. We hope you will join us."</em></p>
            <p><small>Bruce and Kym Burke</small></p>
        </blockquote>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8">
                <nhc-alert></nhc-alert>
            </div>
        </div>
        <div ng-switch="ctrl.user.currentUser().status">
            <nhc-loading ng-switch-when="undefined"></nhc-loading>
            <nhc-registration-signup ng-switch-when="unauthed">
            </nhc-registration-signup>
            <div ng-switch-when="unconfirmed">
                <h1>Account Created</h1>
                <p>Your account has been created but your e-mail address still needs to be verified. Check your inbox!</p>
            </div>
            <nhc-registration-form ng-switch-when="unregistered">
            </nhc-registration-form>
            <nhc-registration-confirm ng-switch-when="registered"></nhc-registration-confirm>
            <div ng-switch-when="pending">
                <h1>Registration Submitted</h1>
                <p>Your registration was successfully submitted; however, it needs to be approved by an Administrator.</p>
                <p>You will receive an e-mail when an Administrator has approved your registration.</p>
            </div>
        </div>
    </div>
</div>
