<h1>Sign Up</h1>
<div class="row">
    <div class="col-md-9">
        <!-- <nhc-alert></nhc-alert> -->
        <div class="alert alert-warning" role="alert"><p>Please be aware that some e-mail domains, including verizon.net, msn.com, hotmail.com and outlook.com are currently unable to receive e-mails from the Nutrition Habit Challenge. When possible, signing up via Google or Facebook is the easiest and fastest way to register for the Nutrition Habit Challenge.</p>

        <p>If you are trying to sign up from work or school and having trouble, please try signing up from home or a mobile device such as a smartphone. You can also contact your IT department and let them know your access to the website is being blocked. If you have any questions, please contact us at <a href="mailto:NHC@oneononefit.com">NHC@oneononefit.com</a></p></div>
        <p>Before you can register for the Nutrition Habit Challenge, you need to create a user account using an existing social media account or your e-mail address. We will <strong>never</strong> post to your social media account without asking.</p>

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <p>
            <a class="btn btn-block btn-social btn-facebook" ng-click="ctrl.authenticate('facebook')">
                <span class="fa fa-facebook"></span> Sign up with Facebook
            </a>
        </p>
        <p>
            <a class="btn btn-block btn-social btn-google" ng-click="ctrl.authenticate('google')">
                <span class="fa fa-google"></span> Sign up with Google
            </a>
        </p>
        <div class="groupSeparator">
            <p class="text-center">OR</p>
        </div>
        <p>
            <a class="btn btn-block btn-social btn-email" ng-click="ctrl.signupEmailModal()">
                <span class="fa fa-envelope"></span> Sign up with E-Mail
            </a>
        </p>
    </div>
</div>
</div>
