<h1>Registration</h1>
<p>In order to participate in the Nutrition Habit Challenge 2016, just fill out the form below!</p>
<p><small>Need to register outside of Centre County? Click <a href="/landing/not-centre-county" target="_self">here!</a></small></p>
<hr>
<form name="ctrl.form" class="form-horizontal" novalidate>
    <!-- Family/Individual Selection -->
    <div class="form-group">
        <label class="col-sm-{{ctrl.css.labelWidth}} control-label" for="family">I am registering as</label>
        <div class="col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.family" name="family" id="userFamily1" ng-value="ctrl.false" ng-change="ctrl.trimParticipants(ctrl.newRegistration.family)" checked required> an individual
                </label>
            </div>
        </div>
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.family" name="family" id="userFamily2" ng-value="ctrl.true" required> a family
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="ctrl.newRegistration.family">
        <label for="familyCode" class="col-sm-{{ctrl.css.labelWidth}} control-label">Family Code <span class="fa fa-question-circle form-help" uib-tooltip="If someone shared a Family Code with you, enter it here. Otherwise, leave this blank." tooltip-append-to-body="true" tooltip-close-popup-delay="1" tooltip-placement="right"></span></label>
        <div class="col-sm-{{ctrl.css.inputWidth}}">
            <input type="text" name="familyCode" id="familyCode" ng-model="ctrl.newRegistration.familyCode">
        </div>
    </div>
    <!-- Organization -->
    <div class="form-group">
        <label for="organization" class="col-sm-{{ctrl.css.labelWidth}} control-label">Organization</label>
        <div class=" col-sm-{{ctrl.css.inputWidth}}">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="ctrl.newRegistration.isUserOrg" ng-change="ctrl.clearOrganization(ctrl.newRegistration.isUserOrg)"> I am joining as part of a group or organization (please enter below)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="ctrl.newRegistration.isUserOrg" ng-class="{'has-error': ((ctrl.form.organization.$touched || ctrl.submitted) && ctrl.form.organization.$invalid) || ctrl.serverErrors.organization}">
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <input type="text" ng-model="ctrl.newRegistration.organization" class="form-control" id="organization" name="organization" placeholder="Name of Organization" ng-required="ctrl.newRegistration.isUserOrg" uib-typeahead="organization.name as organization.name for organization in ctrl.organizations | filter:$viewValue | limitTo:8" autocomplete="off">
            <span class="help-block has-error" ng-show="((ctrl.form.organization.$touched || ctrl.submitted) && ctrl.form.organization.$invalid) || ctrl.serverErrors.organization" ng-messages="ctrl.form.organization.$error"><div class="has-error" ng-messages-include="views/errormessages.html"></div><span ng-repeat="error in ctrl.serverErrors.organization">{{error}}</span></span>
        </div>
    </div>
    <!-- Privacy Settings -->
    <div class="form-group" ng-class="{'has-error': ctrl.form.userShare.$invalid || ctrl.serverErrors.userShare}">
        <label class="col-sm-{{ctrl.css.labelWidth}} control-label" for="userShare">Sharing Options <span class="fa fa-question-circle form-help" uib-tooltip="Who do you want to be able to see your name, commitment and points?" tooltip-append-to-body="true" tooltip-close-popup-delay="1" tooltip-placement="right"></span></label>
        <div class="col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.sharing" name="userShare" id="userShare1" value="everyone" required> Everyone
                </label>
            </div>
        </div>
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}" ng-if="ctrl.newRegistration.isUserOrg">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.sharing" name="userShare" id="userShare2" value="organization" required> My organization
                </label>
            </div>
        </div>
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.sharing" name="userShare" id="userShare1" value="none" required> No one
                </label>
            </div>
            <span class="help-block has-error" ng-show="(ctrl.submitted && ctrl.form.userShare.$invalid) || ctrl.serverErrors.userShare" ng-messages="ctrl.form.userShare.$error"><div class="has-error" ng-messages-include="views/errormessages.html"></div><span ng-repeat="error in ctrl.serverErrors.userShare">{{error}}</span></span>
        </div>
    </div>
    <hr>
    <!-- Participant Data -->
    <div ng-repeat="participant in ctrl.newRegistration.participants">
        <div class="form-group" ng-if="ctrl.newRegistration.family">
            <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
                <h4>Participant {{$index + 1}} <span ng-if="$first">(You)</span></h4>
            </div>
            <div class="col-sm-{{ctrl.css.addonWidth}}">
                <p class="form-control-static"><span class="fa fa-trash form-sub form-addon" ng-click="ctrl.deleteParticipant($index)" ng-if="!$first"></span></p>
            </div>
        </div>
        <!-- Contact Details -->
        <div class="form-group">
            <label for="userFirstName" class="col-sm-{{ctrl.css.labelWidth}} control-label">First Name</label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <input type="text" class="form-control" id="userFirstName" placeholder="Jane" ng-model="participant.firstName" ng-if="!$first" ng-required="!$first">
                <p class="form-control-static" ng-if="$first">{{participant.firstName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userLastName" class="col-sm-{{ctrl.css.labelWidth}} control-label">Last Name</label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <input type="text" class="form-control" id="userLastName" placeholder="Doe" ng-model="participant.lastName" ng-if="!$first" ng-required="!$first">
                <p class="form-control-static" ng-if="$first">{{participant.lastName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userAgeRange" class="col-sm-{{ctrl.css.labelWidth}} control-label">Age Range (optional)</label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <select ng-model="participant.ageRange" ng-options="value as key for (key, value) in ctrl.ageRanges" class="form-control">
                    <option value="">-- Choose Age Range --</option>
                </select>
            </div>
        </div>
        <!-- Commitment -->
        <div class="form-group" ng-class="{'has-error': ((ctrl.form.category.$touched || ctrl.submitted) && ctrl.form.category.$invalid) || ctrl.serverErrors.category}">
            <label for="userCommitCategory" class="col-sm-{{ctrl.css.labelWidth}} control-label">Commitment Category</label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <select ng-model="participant.selectedCategory" name="category" id="userCommitCategory" class="form-control" ng-options="category as category.name for category in ctrl.commCategories" ng-change="ctrl.setCategory($index, participant.selectedCategory)" required>
                    <option value="">-- Choose Commitment Category --</option>
                </select>
                <span class="help-block has-error" ng-show="((ctrl.form.category.$touched || ctrl.submitted) && ctrl.form.category.$invalid) || ctrl.serverErrors.category" ng-messages="ctrl.form.category.$error"><div class="has-error" ng-messages-include="views/errormessages.html"></div><span ng-repeat="error in ctrl.serverErrors.category">{{error}}</span></span>
            </div>
            <div class="col-sm-{{ctrl.css.addonWidth}}">
                <p class="form-control-static"><span class="fa fa-info-circle form-info form-addon" ng-if="participant.selectedCategory.links" ng-click="ctrl.categoryResources(participant.selectedCategory.links)"></span></p>
            </div>
        </div>
        <div class="form-group" ng-if="participant.category !== 'Other'" ng-class="{'has-error': ((ctrl.form.commitment.$touched || ctrl.submitted) && ctrl.form.commitment.$invalid) || ctrl.serverErrors.commitment}">
            <label for="userCommit" class="col-sm-{{ctrl.css.labelWidth}} control-label">Commitment</label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <select id="userCommit" ng-model="participant.commitment" class="form-control" ng-disabled="!participant.selectedCategory" name="commitment" ng-required="participant.category !== 'Other'" ng-options="commitment for commitment in participant.selectedCategory.commitments">
                    <option value="">-- Choose Commitment --</option>
                </select>
                <span class="help-block has-error" ng-show="((ctrl.form.commitment.$touched || ctrl.submitted) && ctrl.form.commitment.$invalid) || ctrl.serverErrors.commitment" ng-messages="ctrl.form.commitment.$error"><div class="has-error" ng-messages-include="views/errormessages.html"></div><span ng-repeat="error in ctrl.serverErrors.commitment">{{error}}</span></span>
            </div>
        </div>
        <div class="form-group" ng-if="participant.category === 'Other' || participant.otherCommitment === 'Other'" ng-class="{'has-error': ((ctrl.form.otherCommitment.$touched || ctrl.submitted) && ctrl.form.otherCommitment.$invalid) || ctrl.serverErrors.otherCommitment}">
            <label for="userCustomCommit" class="col-sm-{{ctrl.css.labelWidth}} control-label">Custom Commitment <span class="fa fa-question-circle form-help" uib-tooltip="To be eligible for the drawing, your commitment must be specific and measurable. You CANNOT use words like 'try', 'reduce', 'increase', 'more', etc." tooltip-append-to-body="true" tooltip-close-popup-delay="1" tooltip-placement="right"></span></label>
            <div class="col-sm-{{ctrl.css.inputWidth}}">
                <input type="text" id="userCustomCommit" name="otherCommitment" class="form-control" ng-model="participant.custom" ng-required="participant.category === 'Other' || participant.commitment === 'Other'">
                <span class="help-block has-error" ng-show="((ctrl.form.otherCommitment.$touched || ctrl.submitted) && ctrl.form.otherCommitment.$invalid) || ctrl.serverErrors.otherCommitment" ng-messages="ctrl.form.otherCommitment.$error"><div class="has-error" ng-messages-include="views/errormessages.html"></div><span ng-repeat="error in ctrl.serverErrors.otherCommitment">{{error}}</span></span>
            </div>
        </div>
        <!-- Add Participant Button -->
        <div class="form-group" ng-if="ctrl.newRegistration.family && $last">
            <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
                <a class="btn btn-success" ng-click="ctrl.addParticipant()">Add Participant</a>
            </div>
        </div>
    </div>
    <hr>
    <!-- Comment -->
    <div class="form-group">
        <label class="col-sm-{{ctrl.css.labelWidth}} control-label" for="userComment">Optional Comments</label>
        <div class="col-sm-{{ctrl.css.inputWidth}}">
            <textarea class="form-control" ng-model="ctrl.newRegistration.comment" name="userComment" id="userComment" rows="5" placeholder="Tell us more about your challenge and commitments."></textarea>
        </div>
    </div>
    <!-- Donation -->
    <div class="form-group" ng-class="{'has-error': ctrl.form.userDonation.$invalid || ctrl.serverErrors.userDonation}">
        <label class="col-sm-{{ctrl.css.labelWidth}} control-label" for="userDonation">Optional Donation <span class="fa fa-question-circle form-help" uib-tooltip="Would you like to support one of our awesome local charities?" tooltip-append-to-body="true" tooltip-close-popup-delay="1" tooltip-placement="right"></span></label>
        <div class="col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.donation" name="userDonation" id="userDonation1" value="ysb" required> I would like to donate to the Youth Service Bureau
                </label>
            </div>
        </div>
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.donation" name="userDonation" id="userDonation2" value="cvim" required> I would like to donate to the Centre Volunteers in Medicine
                </label>
            </div>
        </div>
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ctrl.newRegistration.donation" name="userDonation" id="userDonation3" value="none" required> I do not wish to donate at this time
                </label>
                <span class="help-block has-error" ng-show="(ctrl.submitted && ctrl.form.userDonation.$invalid) || ctrl.serverErrors.userDonation" ng-messages="ctrl.form.userDonation.$error"><div class="has-error" ng-messages-include="views/errormessages.html"></div><span ng-repeat="error in ctrl.serverErrors.userDonation">{{error}}</span></span>
            </div>
        </div>
    </div>
    <!-- Form Actions -->
    <div class="form-group ">
        <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
            <input type="submit" class="btn btn-danger" ng-click="ctrl.sendRegistration(ctrl.newRegistration, ctrl.form)" value="Submit">
            <input type="button" class="btn btn-default" ng-click="ctrl.reset(ctrl.form)" value="Reset">
        </div>
    </div>
</form>
