<div class="row">
    <div class="col-md-3 sidebar">
        <img class="img-responsive center-block" src="img/nhc_logo.png" alt="Nutrition Habit Challenge 2016" />
    </div>
    <div class="col-md-6">
        <h1>Reset Password</h1>
        <nhc-alert></nhc-alert>
        <p>Please enter your new password below.</p>
        <form name="ctrl.form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-{{ctrl.css.labelWidth}} control-label" for="password1">
                    New Password</label>
                <div class="col-sm-{{ctrl.css.inputWidth}}">
                    <input type="password" id="password1" name="password1" class="form-control" required ng-model="ctrl.newPassword">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-{{ctrl.css.labelWidth}} control-label" for="password2">
                    Confirm Password</label>
                <div class="col-sm-{{ctrl.css.inputWidth}}">
                    <input type="password" id="password2" name="password2" class="form-control" required ng-model="ctrl.confirmPassword">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-{{ctrl.css.labelWidth}} col-sm-{{ctrl.css.inputWidth}}">
                    <input type="submit" value="Change Password" ng-disabled="ctrl.form.$invalid" class="btn btn-danger" ng-click="ctrl.resetPassword(ctrl.newPassword, ctrl.confirmPassword)">
                </div>
            </div>
        </form>
    </div>
</div>