<div class="row">
    <div class="col-md-3 sidebar">
        <img class="img-responsive center-block" src="img/nhc_logo.png" alt="Nutrition Habit Challenge 2017" />
        <blockquote class="blockquote-reverse">
            <p><em>“We all have choices. Each of us needs to take personal responsibility for our health. The Nutrition Habit Challenge is a great opportunity to exercise personal responsibility and model it for the next generation. We hope you will join us."</em></p>
            <p><small>Bruce and Kym Burke</small></p>
        </blockquote>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-10">
                <nhc-alert></nhc-alert>
            </div>
        </div>
        <h1>Resources</h1>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/a_message_to_families" target="_blank">A
    Message to Families</a></strong>
        <p>
            We believe the Challenge is an excellent family activity, but more importantly, an excellent
            <em>parenting</em> opportunity....
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/a_message_to_families" target="_blank">read
      more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/nutrition_habits_for_adults"
         target="_blank">Nutritional Commitment Suggestions (Adult)</a></strong>
        <p>
            Below is a list of nutritional behaviors consistent with those committed to living healthy lifestyles, weight loss and weight
            management...
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/nutrition_habits_for_adults" target="_blank">read more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/nutrition_habits_for_kids"
         target="_blank">Nutritional Commitment Suggestions (Child)</a></strong>
        <p>
            Parents are gatekeepers. If you don’t think they should eat it, don’t buy it...
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/nutrition_habits_for_kids" target="_blank">read
      more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/one_on_one_s_key_nutritional_strategies "
         target="_blank">One on One's Key Nutritional Strategies</a></strong>
        <p>
            One on One's team of fitness professionals have identified the following nutritional behaviors as being key in helping clients
            get the best possible result from their time spent exercising. Too often, we have seen clients…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/one_on_one_s_key_nutritional_strategies " target="_blank">read more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/when_it_come_to_weight_loss_less_is_more"
         target="_blank">When it Comes to Weight Loss, Less is more</a></strong>
        <p>
            When most of us consider weight loss and dieting, we want to start big. We are highly motivated when we start a new diet
            plan and often…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/when_it_come_to_weight_loss_less_is_more" target="_blank">read more</a>
        </p>
        <strong><a
      href="http://www.statecollegefitnessconsultantsinc.com/articles/weight_loss_how_to_get_the_most_bank_for_your_exercise_buck"
      target="_blank">Weight Loss: How to Get the Most Bang for your Exercise Buck</a></strong>
        <p>
            Did you know that Metabolic Resistance Training can provide the most "bang for your buck" when it comes to weight loss? Weight
            loss is a complicated animal that requires...
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/weight_loss_how_to_get_the_most_bank_for_your_exercise_buck"
                target="_blank">read more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/create_a_legacy_of_health_and_fitness"
         target="_blank">Create a Legacy of Health and Fitness</a></strong>
        <p>
            Over the past 30 years, we have been made acutely aware of the fact that regular exercise and good nutrition can have a significant
            effect on our lives. Despite this knowledge…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/create_a_legacy_of_health_and_fitness" target="_blank">read more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/diabetes_it_s_about_us" target="_blank">Diabetes
    - It's About Us</a></strong>
        <p>
            Do you have diabetes? Do you love or know someone with diabetes? Do you take care of people who have diabetes? You probably
            answered ‘yes’ to at least one, and maybe...
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/diabetes_it_s_about_us" target="_blank">read
      more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/fat_facts" target="_blank">Fat Facts</a>
  </strong>
        <p>
            Although there are countless strategies and approaches in weight management programs, the three overall objectives should
            include:…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/fat_facts" target="_blank">read more</a>
        </p>
        <strong><a
      href="http://www.statecollegefitnessconsultantsinc.com/articles/excerpt_from_the_praeger_handbook_of_sports_medicine_and_athlete_health"
      target="_blank">Excerpt from "The Praeger Handbook of Sports Medicine and Athlete Health"</a></strong>
        <p>
            In 2009, Bruce and Kym Burke, owners of One on One in State College PA, authored a chapter in “The Praeger Handbook of Sports
            Medicine and Athlete Health.” The following excerpt includes the 2007 American College of Sports Medicine and
            American Heart Association guidelines.
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/excerpt_from_the_praeger_handbook_of_sports_medicine_and_athlete_health"
                target="_blank">read more</a>
        </p>
        <strong><a
      href="http://www.statecollegefitnessconsultantsinc.com/articles/for_increased_calorie_burn_focus_on_your_neat"
      target="_blank">For Increased Calorie Burn, Focus on Your NEAT</a></strong>
        <p>
            We all know that weight control depends on the relationship between calories consumed and calories expended. Both halves
            of that equation can be…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/for_increased_calorie_burn_focus_on_your_neat" target="_blank">read more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/strategies_for_dining_out"
         target="_blank">Strategies for Dining Out</a></strong>
        <p>
            Eating out can be a fun, social break from the ordinary. Best of all…no dishes! However, with portion sizes fit for a small
            sports team and questionable cooking methods, dining out can also…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/strategies_for_dining_out" target="_blank">read
      more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/smart_snacking" target="_blank">Smart
    Snacking</a></strong>
        <p>
            Regardless of your nutritional goals, snacking plays an important role. However, you need to be smart about it. Snacking
            throughout the day…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/smart_snacking" target="_blank">read
      more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/health_and_fitness_apps" target="_blank">Health
    and Fitness Apps</a></strong>
        <p>
            Technology is often listed as one of the contributing factors to inactivity in both children and adults. However, there are
            also ways that technology can encourage us…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/health_and_fitness_apps" target="_blank">read
      more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/limit_high_calorie_beverages"
         target="_blank">Limit High Calorie Beverages</a></strong>
        <p>
            For those interested in losing weight and improving body composition, high calorie beverages are often overlooked and can
            sabotage an otherwise well executed weight loss strategy...
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/limit_high_calorie_beverages" target="_blank">read more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/eat_a_balanced_breakfast"
         target="_blank">Eat a Balanced Breakfast</a></strong>
        <p>
            Whether you are trying to decrease body fat or just trying to make it through the day, breakfast is an important step that
            should not be taken for granted…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/eat_a_balanced_breakfast" target="_blank">read
      more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/overeating"
         target="_blank">Overeating </a></strong>
        <p>
            We all occasionally overeat, and at times, anxiety about food and weight can make eating seem especially chaotic and out
            of control…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/overeating" target="_blank">read more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/sufficient_hydration" target="_blank">Sufficient
    Hydration </a></strong>
        <p>
            Most of us are aware that water is an essential nutrient to our survival. But, did you know that…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/sufficient_hydration" target="_blank">read
      more</a>
        </p>
        <strong><a
      href="http://www.statecollegefitnessconsultantsinc.com/articles/strategies_to_succeed_part_i_goal_setting"
      target="_blank">Strategies to Succeed (Part I): Goal Setting</a></strong>
        <p>
            Goal setting can be tricky. A few points to remember…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/strategies_to_succeed_part_i_goal_setting" target="_blank">read more</a>
        </p>
        <strong><a
      href="http://www.statecollegefitnessconsultantsinc.com/articles/strategies_to_succeed_part_ii_connecting_the_short_term_with_the_long_term"
      target="_blank">Strategies to Succeed (Part II): Connecting the Short Term with the Long Term</a></strong>
        <p>
            Part one of our “Strategies to Succeed” series talks about the importance of developing a vision of who you aspire to be,
            then creating goals consistent with that vision. Part two addresses an important strategy for achieving those
            objectives…connecting the short term with the long term…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/strategies_to_succeed_part_ii_connecting_the_short_term_with_the_long_term"
                target="_blank">read more</a>
        </p>
        <strong><a
      href="http://www.statecollegefitnessconsultantsinc.com/articles/strategies_to_succeed_part_iii_acceptance"
      target="_blank">Strategies to Succeed (Part III): Acceptance</a></strong>
        <p>
            Acceptance plays a big role in being successful and feeling good about your fitness program and diet…
            <a href="http://www.statecollegefitnessconsultantsinc.com/articles/strategies_to_succeed_part_iii_acceptance" target="_blank">read more</a>
        </p>
        <strong><a href="http://www.nourishinteractive.com/nutrition-tools-healthy-family/parents-bmi-calculator"
         target="_blank">BMI Calculator (Child)</a></strong>
        <p>
            Use this easy interactive tool to find out your child's body mass index
            <a href="http://www.nourishinteractive.com/nutrition-tools-healthy-family/parents-bmi-calculator" target="_blank">read more</a>
        </p>
        <strong><a
      href="http://www.cdc.gov/healthyweight/assessing/bmi/adult_BMI/english_bmi_calculator/bmi_calculator.html"
      target="_blank">BMI Calculator (Adult)</a></strong>
        <p>
            Use this calculator for adults, 20 years old and older
            <a href="http://www.cdc.gov/healthyweight/assessing/bmi/adult_BMI/english_bmi_calculator/bmi_calculator.html" target="_blank">read more</a>
        </p>
        <strong><a href="http://www.statecollegefitnessconsultantsinc.com/articles/how_to_implement_the_nutrition_habit_challenge" target="_blank">How to Implement the Nutrition Habit Challenge in your Organization</a></strong>
        <p><a href="http://www.statecollegefitnessconsultantsinc.com/articles/how_to_implement_the_nutrition_habit_challenge"
                target="_blank">read more</a></p>
        <br>
    </div>
</div>